.float-window {
	display :block;
	height: 37px;
	width: 37px;
	border-color: white;
	border-width: 1px;
	border-style: solid;
	background-color: rgba(1,1,1,0.3) ;
}
.float-text {
	display: none;
	margin: 37px;
	background-color: rgba(1,1,1,0.3) ;
}